@mixin background {
    background: #FAFAFA;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 10px 20px;
} 

@mixin center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    transition: transform .35s ease;
    color: #2B303A;
    font-size: 16px;
    line-height: 24px;
}

html body {
    width: 100%;
    text-align: center;
}

article, section {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

button {
    color: white;
    border: none;
    font-size: 1em;
    padding: 10px;
    width: 15%;
    cursor: pointer;
    background: #7C33FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.button2 {
    border: 2px solid #7C33FF;
    background: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    color: #7C33FF;
    img{ margin-right: 10px; }
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btns {
    margin: 50px 0;
    width: 60%;

    button {
        width: 140px;
        height: 55px;
        box-sizing: border-box;
        border-radius: 5px;
    }

    .next{
        text-decoration: none;
        img{ margin-left: 10px; }
    }
}

.options {
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    width: 80%;
    
    .option {
        background: #FCFCFC;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        width: 238px;
        height: 245px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 15px;
        position: relative;

        p{
            position: absolute;
            bottom: 20px;
            margin-top: 20px;
        }
        
    }
    
    .selected {
        background: #EFEFEF;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
        cursor: pointer;
        transform: translateY(-10px);
    }
}

.nav {
    .nav--items{
        width: 70%;
        .nav--option{
            width: 120px;
            height: 120px;
            margin: 0;
            
            img{
                width: 95px;
            }
        }
    }

    .selec{
        border: solid 2px #9458FF;
    }
}

.review {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    background-color: #FAFAFA;
    padding: 50px 0;
    .row {
        position: relative;

        h1 {
            font-size: 30px;
            color: #9458FF
        }

        .hide {
            img{
                transform: rotate(90deg);
                margin: 0;
            }

            .cero {
                transform: rotate(-90deg) !important;
            }

            position: absolute;
            right: -200px;
            width: fit-content;
            padding: 10px 20px;
        }
    }

    .review--display {
        .title {
            margin: 20px 0;
            font-weight: 600;
            font-size: 36px;
            line-height: 40px;
        }

        .options .option .option--name{
            position: absolute;
            bottom: 20px;
            margin-top: 20px;
        }

        .user--answer {
            background-color: white;
            border-radius: 15px;
            padding: 10px 20px;
            margin-top: 10px;
        }

        .btns{
            margin-bottom: 0;
        }
    }
}

/////////////////////// Detailed Information
.detInfo--display{
    &>article {
        width: 80% !important;
        text-align: left;
        justify-content: center;
        align-items: flex-start;

        h3{
            color: #6C63FF;
            font-size: 25px;
            margin-bottom: 10px;
        }

        p{
            color: #2B303A;
            font-size: 18px;
            width: 65%;
            margin-bottom: 10px;
        }
    }

    .row:not([name="btnsNav"]){
        width: 100%;

        &>*:not(img){
            width: 45%;
            *:not(img){
                width: 100%;
            }
        }
    }

    textarea, input[type=text], select {
        @include background();
        border: none;
        margin: 5px 0;
    }

    textarea, .file--loader{
        height: 200px;
    }

    .file--loader{
        @include center();
        border: 2px dashed #BBBBBB;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        padding: 10px 20px;
        input{
            width: fit-content !important;
            @include center();
            margin-top: 20px;
            &::-webkit-file-upload-button { visibility: hidden; }
            &::before {
                position: absolute;
                margin: -10px 0 0 50px;
                content: 'Pick Files';
                border: 2px solid #7C33FF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
                border-radius: 19px;
                cursor: pointer;
                padding: 10px;
              }
        }
    }

    .files--loaded{
        flex-wrap: wrap;
        margin-top: 20px;
        .document{
            width: 32% !important;
            margin-bottom: 5px;
            min-width: 250px;
            //height: 60px;
            //overflow: hidden;

            img{width: 60px;}
            div{
                margin-left: 10px;
                h5{
                    width: 70%;
                    height: 1.5em;
                    overflow: hidden;
                }

                p{
                    width: 70%;
                    padding: 5px 10px;
                }
            }

            .loading{
                background-color: #f26529;
                border-radius: 8px;
                color: white;
            }
        }
    }

    ///////////////////////
    .generalGuideline{
        textarea, .file--loader{
            margin-top: 20px;
        }
    }

    .referenceWebsites{
        .row {
            flex-wrap: wrap;
            .website{
                input{
                    margin-bottom: 20px;
                }
            }
        }
        button {
            border-radius: 20px;
            margin-top: 20px;
            align-self: center;
        }
    }

    .language{
        .main{
            width: 35%;
            height: 200px;
            @include background();
            margin-right: 5%;
            @include center();
        }
        .secondary {
            width: 60%;
            height: 200px;
            @include background();
            @include center();

            .row{
                width: 80%;
                flex-direction: row;
            }

            div:last-child{
                p{
                    width: fit-content;
                    margin-bottom: 0;
                }
                input{
                    width: 70%;
                }
            }
        }
    }

    .sections{
        .row{
            margin-top: 20px;
            align-items: flex-start;
        }
    }

    .externalData{
        .row{
            flex-wrap: wrap;
            margin-top: 20px;
            align-items: flex-start;

            &>div {
                margin-bottom: 40px;
            }
            
            .payment {
                .website input {
                    margin-bottom: 20px; 
                }

                button {
                    width: fit-content;
                    border-radius: 20px;
                    margin-top: 10px;
                    align-self: center;
                }
            }
        }

        .userManagement{
            width: 100%;
            p{
                margin-top: 20px;
            }
        }
    }

}