* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: -webkit-transform .35s ease;
  transition: -webkit-transform .35s ease;
  transition: transform .35s ease;
  transition: transform .35s ease, -webkit-transform .35s ease;
  color: #2B303A;
  font-size: 16px;
  line-height: 24px;
}

html body {
  width: 100%;
  text-align: center;
}

article, section {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

button {
  color: white;
  border: none;
  font-size: 1em;
  padding: 10px;
  width: 15%;
  cursor: pointer;
  background: #7C33FF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.button2 {
  border: 2px solid #7C33FF;
  background: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  color: #7C33FF;
}

.button2 img {
  margin-right: 10px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btns {
  margin: 50px 0;
  width: 60%;
}

.btns button {
  width: 140px;
  height: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.btns .next {
  text-decoration: none;
}

.btns .next img {
  margin-left: 10px;
}

.options {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
}

.options .option {
  background: #FCFCFC;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 238px;
  height: 245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 15px;
  position: relative;
}

.options .option p {
  position: absolute;
  bottom: 20px;
  margin-top: 20px;
}

.options .selected {
  background: #EFEFEF;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.nav .nav--items {
  width: 70%;
}

.nav .nav--items .nav--option {
  width: 120px;
  height: 120px;
  margin: 0;
}

.nav .nav--items .nav--option img {
  width: 95px;
}

.nav .selec {
  border: solid 2px #9458FF;
}

.title {
  margin: 20px 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
}

.review {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  background-color: #FAFAFA;
  padding: 50px 0;
}

.review .row {
  position: relative;
}

.review .row h1 {
  font-size: 30px;
  color: #9458FF;
}

.review .row .hide {
  position: absolute;
  right: -200px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
}

.review .row .hide img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: 0;
}

.review .row .hide .cero {
  -webkit-transform: rotate(-90deg) !important;
          transform: rotate(-90deg) !important;
}

.review .review--display .options .option .option--name {
  position: absolute;
  bottom: 20px;
  margin-top: 20px;
}

.review .review--display .user--answer {
  background-color: white;
  border-radius: 15px;
  padding: 10px 20px;
  margin-top: 10px;
}

.review .review--display .btns {
  margin-bottom: 0;
}

.detInfo--display > article {
  width: 80% !important;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.detInfo--display > article h3 {
  color: #6C63FF;
  font-size: 25px;
  margin-bottom: 10px;
}

.detInfo--display > article p {
  color: #2B303A;
  font-size: 18px;
  width: 65%;
  margin-bottom: 10px;
}

.detInfo--display .row:not([name="btnsNav"]) {
  width: 100%;
}

.detInfo--display .row:not([name="btnsNav"]) > *:not(img) {
  width: 45%;
}

.detInfo--display .row:not([name="btnsNav"]) > *:not(img) *:not(img) {
  width: 100%;
}

.detInfo--display textarea, .detInfo--display input[type=text], .detInfo--display select {
  background: #FAFAFA;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 10px 20px;
  border: none;
  margin: 5px 0;
}

.detInfo--display textarea, .detInfo--display .file--loader {
  height: 200px;
}

.detInfo--display .file--loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 2px dashed #BBBBBB;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 10px 20px;
}

.detInfo--display .file--loader input {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 20px;
}

.detInfo--display .file--loader input::-webkit-file-upload-button {
  visibility: hidden;
}

.detInfo--display .file--loader input::before {
  position: absolute;
  margin: -10px 0 0 50px;
  content: 'Pick Files';
  border: 2px solid #7C33FF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 19px;
  cursor: pointer;
  padding: 10px;
}

.detInfo--display .files--loaded {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.detInfo--display .files--loaded .document {
  width: 32% !important;
  margin-bottom: 5px;
  min-width: 250px;
}

.detInfo--display .files--loaded .document img {
  width: 60px;
}

.detInfo--display .files--loaded .document div {
  margin-left: 10px;
}

.detInfo--display .files--loaded .document div h5 {
  width: 70%;
  height: 1.5em;
  overflow: hidden;
}

.detInfo--display .files--loaded .document div p {
  width: 70%;
  padding: 5px 10px;
}

.detInfo--display .files--loaded .document .loading {
  background-color: #f26529;
  border-radius: 8px;
  color: white;
}

.detInfo--display .generalGuideline textarea, .detInfo--display .generalGuideline .file--loader {
  margin-top: 20px;
}

.detInfo--display .referenceWebsites .row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.detInfo--display .referenceWebsites .row .website input {
  margin-bottom: 20px;
}

.detInfo--display .referenceWebsites button {
  border-radius: 20px;
  margin-top: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.detInfo--display .language .main {
  width: 35%;
  height: 250px;
  background: #FAFAFA;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 10px 20px;
  margin-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.detInfo--display .language .secondary {
  width: 60%;
  height: 250px;
  background: #FAFAFA;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.detInfo--display .language .secondary .row {
  width: 80%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.detInfo--display .language .secondary #row_secondary_language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.detInfo--display .language .secondary #row_secondary_language .row {
  width: 30%;
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.detInfo--display .language .secondary #row_secondary_language .row input {
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 5px;
}

.detInfo--display .language .secondary div:last-child p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0;
}

.detInfo--display .language .secondary div:last-child input {
  width: 70%;
}

.detInfo--display .sections {
  /*.btns{
            margin: 0;
        }*/
}

.detInfo--display .sections #container_sections {
  width: 100%;
}

.detInfo--display .sections #container_sections .row {
  margin-top: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.detInfo--display .sections #container_sections h5 {
  text-align: left;
}

.detInfo--display .sections #btn_add_sections {
  border-radius: 20px;
  margin-top: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.detInfo--display .externalData .row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.detInfo--display .externalData .row > div {
  margin-bottom: 40px;
}

.detInfo--display .externalData .row .payment .website input {
  margin-bottom: 20px;
}

.detInfo--display .externalData .row .payment button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  margin-top: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.detInfo--display .externalData .userManagement {
  width: 100%;
}

.detInfo--display .externalData .userManagement p {
  margin-top: 20px;
}

.final {
  height: 500px;
}

.final .title {
  color: #7C33FF;
}

.final h3 strong {
  color: #7C33FF;
}
/*# sourceMappingURL=index.css.map */